<ng-container *ngIf="!activeItem$$.getValue(); else cartItemTpl">
  <h3>Cart</h3>
  <ng-container *ngIf="cart$ | async as cart">
    <ng-container *ngIf="cart.items.length; else emptyCartTpl">
      <div>
        <span class="mr-1">Sort by:</span>
        <clr-dropdown class="dropdown">
          <button clrDropdownTrigger class="btn-dropdown">
            <span>{{ selectedFieldOption.name }}</span>
            <cds-icon
              *ngIf="isFieldDropdownOpen; else caretDownTpl"
              class="icon"
              size="16"
              shape="angle"
              direction="up"
            ></cds-icon>
            <ng-template #caretDownTpl>
              <cds-icon class="icon" size="16" shape="angle" direction="down"></cds-icon>
            </ng-template>
          </button>
          <ng-template [(clrIfOpen)]="isFieldDropdownOpen"></ng-template>
          <clr-dropdown-menu class="dropdown-menu" clrPosition="bottom-left" *clrIfOpen>
            <ng-template ngFor let-fieldOption [ngForOf]="fieldOptions">
              <button class="dropdown-item" (click)="onSelectFieldOption(fieldOption)">
                {{ fieldOption.name }}
              </button>
            </ng-template>
          </clr-dropdown-menu>
        </clr-dropdown>
        <clr-checkbox-wrapper class="checkbox-wrapper ml-1">
          <input id="asc" type="checkbox" clrCheckbox [(ngModel)]="isAscending" />
          <label for="asc" class="check-label">Sort in Ascending order</label>
        </clr-checkbox-wrapper>
      </div>
      <clr-datagrid>
        <clr-dg-column [clrDgField]="'name'">{{ 'Name' }}</clr-dg-column>
        <clr-dg-column [clrDgField]="'price'">{{ 'Price' }}</clr-dg-column>
        <clr-dg-column [clrDgField]="'qty'">{{ 'Qty' }}</clr-dg-column>
        <clr-dg-column [clrDgField]="'category'">{{ 'Category' }}</clr-dg-column>
        <clr-dg-column [clrDgField]="'isAvailable'">{{ 'Available' }}</clr-dg-column>
        <clr-dg-row
          *clrDgItems="
            let item of cart.items | orderBy: selectedFieldOption.value : isAscending;
            let i = index;
            trackBy: trackById
          "
          class="cart-row"
          [clrDgItem]="item"
          (click)="activeItem$$.next(item)"
        >
          <clr-dg-cell>{{ item.name }}</clr-dg-cell>
          <clr-dg-cell>{{ item.price | currency }}</clr-dg-cell>
          <clr-dg-cell>{{ item?.qty || 0 }}</clr-dg-cell>
          <clr-dg-cell>{{ item.category }}</clr-dg-cell>
          <clr-dg-cell>{{ item.isAvailable ? 'Yes' : 'No' }}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
      <div class="clr-row mt-1">
        <div class="clr-col-10 text-right font-weight-semibold">
          <span>Total quantity:</span>
        </div>
        <div class="clr-col-2">
          <span>{{ cart?.qty || 0 }}</span>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-10 text-right font-weight-semibold">
          <span>Total Cost:</span>
        </div>
        <div class="clr-col-2">
          <span>{{ cart?.total || 0 | currency }}</span>
        </div>
      </div>
      <button class="btn btn-primary" routerLink="/order">Process order</button>
    </ng-container>
    <ng-template #emptyCartTpl>
      <div>Your shopping cart is empty!</div>
    </ng-template>
  </ng-container>
</ng-container>
<ng-template #cartItemTpl>
  <app-cart-item
    [item]="activeItem$$.getValue()"
    (quantityIncrease)="onIncreaseQty()"
    (quantityDecrease)="onDecreaseQty()"
    (delete)="onDeleteItem()"
    (back)="activeItem$$.next(null)"
  ></app-cart-item>
</ng-template>
