<h3>Cart</h3>
<ng-container *ngIf="itemsList$ | async as itemsList">
  <clr-datagrid *ngIf="itemsList.length; else emptyCartTpl">
    <clr-dg-column [clrDgField]="'name'">{{ 'Name' }}</clr-dg-column>
    <clr-dg-column [clrDgField]="'price'">{{ 'Price' }}</clr-dg-column>
    <clr-dg-column [clrDgField]="'qty'">{{ 'Qty' }}</clr-dg-column>
    <clr-dg-column [clrDgField]="'category'">{{ 'Category' }}</clr-dg-column>
    <clr-dg-column [clrDgField]="'isAvailable'">{{ 'Available' }}</clr-dg-column>
    <clr-dg-row
      *clrDgItems="let item of itemsList; let i = index; trackBy: trackById"
      class="cart-row"
      [clrDgItem]="item"
    >
      <clr-dg-cell>{{ item.name }}</clr-dg-cell>
      <clr-dg-cell>{{ item.price | currency }}</clr-dg-cell>
      <clr-dg-cell>{{ item?.qty || 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ item.category }}</clr-dg-cell>
      <clr-dg-cell>{{ item.isAvailable ? 'Yes' : 'No' }}</clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
  <ng-template #emptyCartTpl>
    <div>Your shopping cart is empty!</div>
  </ng-template>
</ng-container>
